
useDynLib(asSeq)

import(zlibbioc)

# ------------------------------------------
# Export directives.  
# ------------------------------------------

export(extractAsReads)
export(prepareBAM)
export(glmFit)
export(glmTest)
export(glmNB)
export(ase)
export(trec)
export(trecase)
export(trecaseP)
export(pileupBAM)
export(getPermP)
export(get_reduced_boot)
export(logit)
export(logiti)


# ------------------------------------------
# S3method declarations.  
# ------------------------------------------

